<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Dialogue Demo</title>
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
<div ng-app="app" ng-controller="DemoCtrl as vm">
    <div class="container">
        <h1>Dialogue Demo</h1>
        <a class="btn btn-primary" ng-click="vm.alert()">Alert</a>
        <a class="btn btn-success" ng-click="vm.confirm()">Confirm</a>
        <a class="btn btn-warning" ng-click="vm.prompt()">Prompt</a>
        <a class="btn btn-danger" ng-click="vm.custom()">Custom</a>
        <a class="btn btn-primary" ng-click="vm.template()">Template</a>
        <a class="btn btn-primary" ng-click="vm.inlineTemplate()">Inline Template</a>

    </div>
<script type="text/ng-template" id="Demo.html">
    <h1>{{model.caption}}</h1>
<p>Template option</p>
    <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
        <li>Four</li>
    </ul>
</script>

</div>
<!-- inject:js -->
<!-- endinject -->
<script>
    var mod = angular.module('app', ['ui.bootstrap', 'bsDialogue', 'ngAnimate']);
    mod.config(function(dialogueDefaults){
        dialogueDefaults.primaryButtonCss = 'btn-success';
        dialogueDefaults.buttonCss = 'btn-primary';
        dialogueDefaults.negativeButtonCss = 'btn-warning';
    });
    mod.controller('DemoCtrl', function (dialogue) {
        var vm = this;

        vm.alert = function () {
            dialogue.alert('This is an alert',{title:'Alert title'}).finally(function(){
                console.log('Alert dismissed');
            });
        };
        vm.confirm = function () {
            dialogue.confirm('Are you sure you want to do this?').then(function (response) {
                dialogue.alert('Your response was ' + response);
            }, function () {
                dialogue.alert('You dismissed the dialogue');
            });

        };
        vm.prompt = function () {
            dialogue.prompt("What is your name?").then(function (response) {
                dialogue.alert("Hello " + response);
            }, function () {
                dialogue.alert('You dismissed the dialogue');
            });
        };
        vm.template = function(){
          dialogue({
              buttons: 'alert',
              templateUrl: 'Demo.html',
              title: "Templated dialogue",
              model: {
                  caption: '123 ABC'
              }
          }) ;
        };

        vm.inlineTemplate = function(){
            var model = {
                message: 'Hello world',
                input: ''
            };
            dialogue({
                buttons: 'alert',
                template: 'The message is... <span ng-bind="model.message"></span><br /><input type="text" ng-model="model.input" />',
                title: 'Inline template dialogue',
                model: model
            }).then(function(){
                dialogue.alert('model.input is ' + model.input);
            });
        };

        vm.custom = function(){
          dialogue.custom({
              text: 'Custom <b>TEXT</b> <a href="//www.google.com">Google</a>',
              buttons: [{
                  text: 'Good',
                  css: 'btn-success',
                  value: 'good'
              },{
                  text: 'Bad',
                  css: 'btn-danger',
                  value: 'bad'
              },{
                  text: 'Ok',
                  css: 'btn-warning',
                  value: 'ok'
              }],
              title: 'Big title !'
          }).then(function (response) {
              dialogue.alert('Your response was ' + response);
          }, function () {
              dialogue.alert('You dismissed the dialogue');
          });
        };

    });
</script>
</body>
</html>